@page "/register"
@using ProductManagement.Application.Features.Auth.DTOs
@using ProductManagement.BlazorUI.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h3 class="text-center mb-4">User Registration</h3>

        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info">@message</div>
        }

        <EditForm Model="model" OnValidSubmit="HandleRegister">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>First Name</label>
                    <InputText class="form-control" @bind-Value="model.FirstName" />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Last Name</label>
                    <InputText class="form-control" @bind-Value="model.LastName" />
                </div>
            </div>

            <div class="mb-3">
                <label>Username</label>
                <InputText class="form-control" @bind-Value="model.UserName" />
            </div>

            <div class="mb-3">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="model.Email" />
            </div>

            <div class="mb-3">
                <label>Phone Number</label>
                <InputText class="form-control" @bind-Value="model.PhoneNumber" />
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Password</label>
                    <InputText type="@passwordType"
                               class="form-control"
                               @bind-Value="model.Password" />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Confirm Password</label>
                    <InputText type="@passwordType"
                               class="form-control"
                               @bind-Value="model.ConfirmPassword" />
                </div>
            </div>

            <div class="mb-3">
                <label>Date of Birth</label>
                <InputDate class="form-control"
                           @bind-Value="model.DateOfBirth" />
            </div>

            <div class="mb-3">
                <label>Gender</label><br />

                <InputRadioGroup @bind-Value="model.Gender">

                    <label class="me-3">
                        <InputRadio Value="@("Male")" /> Male
                    </label>

                    <label>
                        <InputRadio Value="@("Female")" /> Female
                    </label>

                </InputRadioGroup>
            </div>


            <div class="mb-3">
                <label>Country</label>
                <InputSelect class="form-select" @bind-Value="model.Country">
                    <option value="">Select Country</option>
                    <option>India</option>
                    <option>USA</option>
                    <option>UK</option>
                </InputSelect>
            </div>

            <div class="mb-3">
                <label>Address</label>
                <InputTextArea class="form-control"
                               @bind-Value="model.Address" />
            </div>

            <div class="mb-3">
                <label>About Me</label>
                <InputTextArea class="form-control"
                               @bind-Value="model.AboutMe" />
            </div>

            <div class="form-check form-switch mb-3">
                <InputCheckbox class="form-check-input"
                               @bind-Value="model.ReceiveNewsletter" />
                <label class="form-check-label">
                    Receive Newsletter
                </label>
            </div>

            <div class="mb-3">
                <label>Select Role</label>
                <InputSelect class="form-select" @bind-Value="model.Role">
                    <option value="">Select Role</option>
                    <option value="User">User</option>
                    <option value="Manager">Manager</option>
                    <option value="Admin">Admin</option>
                </InputSelect>
            </div>

            <button class="btn btn-success w-100">
                Register
            </button>
        </EditForm>
    </div>
</div>

@code {
    private RegisterRequestDto model = new()
    {
        DateOfBirth = DateTime.Today
    };
    private string? message;
    private string passwordType = "password";

    private async Task HandleRegister()
    {
        var success = await AuthService.RegisterAsync(model);

        if (success)
        {
            message = "Registration successful!";
            Navigation.NavigateTo("/login");
        }
        else
        {
            message = "Registration failed.";
        }
    }
}

